#notecard{
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
  height: 25vw;
  width: 35vw;
  text-align: center;
}

.cardSpan{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 1vw;
}

.cards{
  display:inline-grid;
  margin: auto;
  width: 50%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
}

.outer{
  font-size: 1vw;
  padding-left: 0;
  padding-right: 0;
}

.inner{
  display: inline-block;
  font-size: 1vw;
}

.header{
  font-size: 1vw;
  text-align: left;
}
